Repository zyb-2003/DevStack: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write, bash -c 'npx tsc --noEmit'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=0"
  ],
  "*.{json,md,yml,yaml,css,scss}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "bash -c 'npx tsc --noEmit'"
  ]
}

test: 验证BOM修复
  test-husky.txt
Due: none

test: 验证文件编码修复
  test.ts
Due: eslint --fix --max-warnings=0, bash -c 'npx tsc --noEmit'

test: simplest hooks
  $cachePath/_update-notifier-last-checked
  .eslintrc.cjs
  .eslintrc.cjs.backup
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
  .lintstagedrc
  .lintstagedrc.json
  commitlint.config.cjs
  package-lock.json
  package.json
  test-final.ts
  test-husky.txt
  test.ts
  tsconfig.json
  tsconfig.json.backup
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npx tsc --noEmit'

test: verify Git Hooks
  .husky/_/husky.sh
  .husky/pre-commit
  test-hook.ts
Due: eslint --fix --max-warnings=0, bash -c 'npx tsc --noEmit'

husky最终修复
  .husky/pre-commit.backup
  .husky/pre-push
  .husky/prepare-commit-msg
  package.json
  test-final.ts
  test-hook.ts
Due: eslint --fix --max-warnings=0, prettier --write, bash -c 'npx tsc --noEmit'

初始化和环境配置修复1
  vite.config.js
Due: eslint --fix --max-warnings=0
